<div class="jumbotron">
  <h1>Rails na Prática</h1>
  <p>
    Gerencie seus contatos em qualquer lugar!
  </p>
  <p>
    <%= link_to 'Crie Sua Conta', '#', class: 'btn btn-primary btn-lg' %>
  </p>
</div>
